.about-page {
	.entry-header {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color__background-body;
		width: 100vw;
	}
} 

.page-container {
	display: flex;
	justify-content: center;
}

.page-about-content {
	margin-bottom: 30px;
	width: 800px;
	h1 {
		text-align: center;
	}
}