/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 auto $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.post-page {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Start Here */

// .entry-header {
// 	h1,
// 	h2 {
// 		// position: absolute;
// 		left: 0;
// 		font-size: 40px;
// 	}
// }

.post-container {
	width: 100%;
	padding: 60px auto 20px;
	padding-bottom: 20px;
	h1,
	h2 {
	    background-color: #248a83;
	    color: white;
		height: auto;
		left: 0;
		padding: 10px 20px;
		position: absolute;
		text-align: left;
		top: 10px;
		width: 78%;
		a {
			font-weight: bold;
		}		
		a:hover {
			color: $color__gray-text-hover;
		}
	}
	.entry-header {
		position: relative;
		justify-content: flex-start;
		width: 670px;
		a {
			color: white;
		}
	}
	.entry-meta {
	    background-color: #248a83;
	    position: absolute;
	    right: 30px;
	    padding: 3px 13px;
	    bottom: 9px;
	    color: white;
	    a {
	    	text-transform: capitalize;
	    	font-family: $font__main;
	    }
	}
}

