/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 auto $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.post-page {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Start Here */

.post-container {
	width: 760px;
	padding: 60px 0 20px;
	padding-bottom: 20px;
		.entry-meta {
	    background-color: $color__link;
	    position: absolute;
	    right: 0;
	    padding: 3px 13px;
	    bottom: 8px;
	    color: $color__background-body;
	    a {
	    	color: $color__background-body;
	    	text-transform: capitalize;
	    	font-family: $font__main;
	    }
	}
}

.have-post {
	h1,
	h2 {
	    background-color: $color__link;
	    color: $color__background-body;
		padding: 10px 20px;
		position: absolute;
		text-align: left;
		top: 10px;
		width: 78%;
		a {
			font-size: 2rem;
			color: $color__background-body;
			font-weight: bold;
		}		
		a:hover {
			color: $color__gray-text-hover;
		}
	}
}	

.entry-header {
	position: relative;
	justify-content: flex-start;
}



