
.home-hero {
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url("../../images/home-hero.jpg");
	background-size: cover;
    height: 100vh;
	display: flex;
	justify-content: center;
}

.home-hero img {
	align-self: center;
}
.product-type-container {
	display: flex;
	width: 100%;
	text-align: center;
}

.product-type-wrapper {
	border: 1px solid #e1e1e1;
	border-top-width: 5px;
	margin: 5px;
	padding: 0 20px;
	width: 25%;
}

.product-type-wrapper:hover {
	border: 1px solid #d99054;
	border-top-width: 5px;
}

.trending {
	ul {
		padding: 0;
		margin: 0;
		li {
			border: 1px solid #e1e1e1;
			margin: 5px;			
			width: 33.333%;
		}
	}
}

.thumbnail-wrap {
	// height: 250px;
	background-color: #e1e1e1;
		img {
	    height: 250px;
	    width: 100%;
	}
}

.post-info-wrap {
	padding: 20px;
}

.entry-title {
	height: 110px;
}

.btn,
.black-btn {
    position: relative;
    bottom: 0.3rem;
	border: 1px solid black;
	font-size: .9rem;
	padding: 15px 30px;
}

.black-btn,
.black-btn:visited {
	color: black;
}

.btn,
.btn:visited,
.black-btn:hover {
	background: $color__link; 
	border: none;
	color: white;
}

.btn:hover {
	background: #19625d;
}

.flex-full {
	// background-color: black;
	// height: 200px;
}

.full {
	color: blue;
	width: 50%;
	height: 100%;
}

.flex-half {
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.half {
	height: 50%;
	color: red;
	img {
	    object-fit: cover;
	    height: 160px;
	}
}

.flex-quarter {
	height: 50%;
}

.quarter {
	width: 50%;
	color: green;
}

.adventures li {
	border: 10px solid white;
}

.story-wrapper {
	position: relative;
}

.story-info {
	position: absolute;
	top: 3px;
}